*{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    display: flex;
    text-align: end;
    justify-content: space-between;
    ul{
        display: flex;
        width: 33%;
        justify-content: space-around;
        align-items: center;
        li{
            list-style: none;
        }
    }
}

#Contact{
    display: flex;
    background-color: gray;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 100%;
    button{
        background-color: blue;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
}
.form{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 200px;
}
#Produits{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    button{
        display: flex;
    }
}
.card{
    display: flex;
    width: 30%;
    border: 3px solid black;
    padding: 20px;
    flex-direction: column;

}
#mescartes{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.input{
    display: flex;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
#formmessage{
    margin: auto;
    justify-content: left;
    align-items: center; 
 } 
nav{
    display: flex;
    color: beige;
    justify-content: space-around;
}
h2{
    margin-bottom: 2px;
}
#entete{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    flex-direction: column;
}
