*{
    margin: 0;
    padding: 0;
}
 header img{
    width: 50%;
}
header div{
    width: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
}
header p{
    margin: 20px;
}
button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.card{
    display: flex;
    width: 30%;
    border: 3px solid blue;
    padding: 20px;
    flex-direction: column;
}
#mescartes{
    display: flex;
    justify-content: space-around;
}
