*{
    margin: 0;
    padding: 0;
}
header{
    display:flex;
    background-color: dimgrey;
    justify-content: center;
    flex-direction: row;
    img{
        width: 100%;
    }
}
#Produits{
    display: flex;
    align-items: center;
}
.card{
    display: flex;
    width: 30%;
    border: 3px solid black;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
}
#mescartes{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.form{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    gap: 40px;
    margin: auto;
    width: 100%;
}
#formmessage{
    margin: auto;
    justify-content: center;
    align-items: center; 
 } 
nav{
    display: flex;
    color: beige;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
h2{
    margin-bottom: 2px;
}
#entete{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
